/* stylesheet for website */

/* Raleway, Gloria Hallelujah */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway&display=swap');

:root {
    --primary-color: #00B7F0;
    --secondary-color: #374B8A;
    --accent1-color: #145e88;
    --accent2-color: #6afaff;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    color: var(--accent2-color);
    text-align: center;
}
#hero-msg h4 {
    color: var(--primary-color);
    text-align: center;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%
}
#logo_link {
    padding-top: 5px;
}
#background {
    background-color: --;
    height: 725px;
}
.logo {
    max-width: 150px;
    padding-left: 20px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.button-box a {
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
h2 {
    color: white;
    margin: 0;
}
body {
    background-color: #374B8A;
    font-family: Raleway, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.home-title {
    font-family: "Gloria Hallelujah", Hallelujah, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.join {
    font-family: "Gloria Hallelujah", Hallelujah, sans-serif;
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    padding-top: 70px;
}
nav a:hover {
    background-color: var(--accent1-color);
    font-weight: bold;
}
.book, .join {
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--primary-color);
    text-decoration: underline;
}
.msg {
    background-color: var(--primary-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/8;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black;
}
.msg h2 {
    font-family: "Gloria Hallelujah", Hallelujah, sans-serif;
}
.msg p {
    font-size: 1.1em;
    color: black;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: var(--accent1-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: white;
}
footer h3 a {
    color: var(--accent2-color);
    text-decoration: none;
}
footer h3 a:hover{
    color: white;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: -500px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img, .mountains {
    border: 10px solid var(--primary-color);
    width: 100%;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
.card-img {
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/* page 2 */

.rivers-title {
    font-family: "Gloria Hallelujah", Hallelujah, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: var(--primary-color);
    text-align: center;
    text-decoration: underline;
}

.rivers-blocks img {
    height: 300px;
}


/* first row */
.idaho-river {
    padding: 50px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: min-content 1fr;
}
.river-title-idaho {
    color: var(--accent2-color);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.idaho-text p {
    color: rgb(236, 232, 232);
    font-size: 15.2px;
}
.idaho-text {
    padding: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
}

/* Second row */
.utah-river {
    padding: 50px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 1fr min-content;
}
.river-title-utah {
    color: var(--accent2-color);
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
}
.utah-text p {
    color: rgb(236, 232, 232);
    font-size: 15.2px;
}
.utah-text {
    padding: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* third row */
.arizona-river {
    padding: 50px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: min-content 1fr;
}
.river-title-arizona {
    color: var(--accent2-color);
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
}
.arizona-text p {
    color: rgb(236, 232, 232);
    font-size: 15.2px;
}
.arizona-text {
    padding: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
}


/* If the screen is smaller than 900px */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;

    }
}
/* Ending */