/* stylesheet for all but the site plan */

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    color: #00B7F0;
    text-align: center;
}
.button-box a {
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    background-color: #00B7F0;
    height: 725px;
}
h2 {
    color: white;
}
body {
    background-color: #374B8A;
}
header {
    background-color: #00B7F0;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;

}
nav a:hover {
    background-color: #133CBD;
}
.book, .join {
    color: white;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #133CBD;
    text-decoration: underline;
}
.msg {
    background-color: #00B7F0;
}
.msg p {
    font-size: 1.1em;
    color: #133CBD;
}
footer {
    background-color: #374B8A;
}
footer h3 {
    color: white;
}
footer h3 a {
    color: #00B7F0;
    text-decoration: none;
}
footer h3 a:hover{
    color: white;
    text-decoration: underline;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%
}