
/* Lobster */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

:root {
    --pink-primary: #C785A8;
    --cream-color: #FEFCFD;
    --yellow-primary: #DABD1C;
    --pink-pale: #d89f91;
    --dark-primary-bg: #5D3F24;
}

body {
    margin: 0;
    padding: 0;
}
p {
    font-family: "Roboto Slab";
    font-size: 20px;
}
a {
    font-family: "Roboto Slab";
    font-weight: bold;
}
h1 {
    font-size: 75px;
    font-size: 4vw;

    font-family: Lobster;
    text-decoration: underline;
    color: var(--cream-color);
}
h2 {
    font-size: 32px;
    font-family: Lobster;
    text-decoration: underline;
}
h3 {
    font-size: 20px;
}

nav {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    border: solid var(--cream-color) 3px;
    background-color: var(--pink-primary);
    border-top: none;
    border-left: none;
    border-right: none;
}
nav a {
    font-size: 40px;
    font-size: 2vw;
    font-family: Lobster;
}

.nav-logo {
    max-width: 250px;
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 15vw
}
.nav_text {
    display: inline-block;
    margin: 0 auto;
    padding-left: 45px
}

.hero-title {
    margin-top: 0;
    padding-top: 0px;
    text-align: center;
    background-color: var(--dark-primary-bg);
}
.hero-title #title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;

    /* circle background */
    padding: 50px;
    background-color: var(--pink-primary);
    border: solid var(--cream-color) 5px;
    border-radius: 50%;
}


#hero-img {
    width: 100%;
    vertical-align: bottom;
}

#about-us-title {
    text-align: center;
}

#recipes {
    margin: 0 auto;
    text-align: center;
}
#about-us {
    background-color: var(--dark-primary-bg);
    padding: 50px 200px 50px 200px;
}
#about-us p {
    color: var(--cream-color);
}
#about-us-title {
    color: var(--yellow-primary);
}
.about-us-body {
    display: grid;
    grid-template-columns: auto 12% auto;
    grid-template-rows: 500px 500px;
}
#about-us-img1 {
    grid-column: 3/4;
    grid-row: 1/2;
    max-height: 100%;
    margin: 0 0 0 auto;
}
#about-us-para1 {
    grid-column: 1/3;
    grid-row: 1/2
}
#about-us-img2 {
    grid-column: 1/2;
    grid-row: 2/3;
    max-height: 100%;
}
#about-us-para2 {
    grid-column: 2/4;
    grid-row: 2/3
}

#recipes {
    margin-top: 100px;
    margin-bottom: 50px;
}
#recipe-msg {
    color: var(--cream-color);
    padding-right: 15px;
}
#recipe-title {
    color: var(--yellow-primary);
}
#recipe-cards {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px 20px;
    justify-content: center;
}
#brownie-card img {
    max-height: 100%;
}
#cookie-card img {
    max-height: 100%;
}

#brownie-text {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 20px;
    color: var(--pink-primary)
}
#cookie-text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 20px;
    color: var(--pink-primary)
}
#brownie-text:hover, #cookie-text:hover {
    color: var(--yellow-primary);
}

/* Brownies page */
.brownies-page {
    background-color: var(--pink-pale);
}

.brownies_main {
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    background-color: var(--pink-primary);
}
.brownies_main h3 {
    /* color: var(--cream-color); */
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cream-color);
}
.brownies_main p {
    font-size: 18px;
    font-weight:600;
}
#brownies-opening-img {
    padding-top: 50px;
}
#ingredients_div {
    text-align: center;
}
#ingredients {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}
#equipment_div {
    text-align: center;
    margin-right: 16px;
}
#equipment {
    display: inline-block;
    text-align: left;
    font-size: 18px;
}
#instructions {
    padding: 0px 200px 50px 200px;
    background-color: var(--pink-primary);
}
#instruction-text {
    text-align: justify;
}
#instruction-text p {
    font-weight: 500px
}
#instruction-text em {
    color: white;
    font-style: normal;
    font-size: 28px;
}
#brownie-close-img {
    padding: 20px;
    background-color: var(--pink-pale);
}


/* footer */

.socials ul {
    background-color: var(--pink-primary);
    margin: 0;
    padding: 20px;
}
.socials ul li {
    display: inline-block;
}

#site-plan-link {
    color: var(--cream-color)
}